.curtain {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.curtain div {
  position: relative;
}

.curtain div > svg {
  position: absolute;
  bottom: -1.5rem;
  right: -1.5rem;
  z-index: 10;

  padding: 1rem;
  background: var(--second-color);
  border-radius: 50%;
}

.pokemon-details {
  background: var(--third-color);
  overflow: hidden;
  padding-bottom: 2rem;
  border-radius: 3rem;

  min-width: 25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* esclui a div pois seus filhos ja tem 1 de margem no topo */
.pokemon-details > * + :not(div) {
  margin-top: 1rem;
}

.pokemon-details h1 {
  padding: 2rem 0;
  background: var(--second-color);
  border-radius: 0 0 40% 40%;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.pokemon-details h1 span {
  text-transform: capitalize;
}

.pokemon-details h1 small {
  color: var(--text-gray-color);
  font-size: 2.2rem;
}

.pokemon-details div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 20rem;

  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.pokemon-details div span {
  padding: 0.5rem 0.7rem;
  border-radius: 0.7rem;
  margin: 1rem 0.5rem 0;

  background: var(--color);
}

.pokemon-details div > * + * {
  margin-left: 1rem;
}

.pokemon-details > span svg {
  margin-right: 1rem;
}
